@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 8px 12px;
  line-height: 1.4;
}